<h1 class="text-4xl m-3">ALL FLATS DISPLAY HERE</h1>

<%= link_to 'ADD FLAT', new_flat_path, class: 'm-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>

<div class='flex flex-wrap bg-gray-200'>
  <% @flats.each do |flat| %>
    <div>
      <div>
        <h2 class="text-xl"> <%= flat.name %> </h2>
        <p class="text-xs"> <%= flat.description %> </p>
        <%= link_to 'VIEW', flat_path(flat), class: 'm-3 bg-blue-300 hover:bg-blue-500 text-white font-bold py-1 px-2 rounded' %>
      </div>
    </div>
  <% end %>
</div>
